{% extends 'base.html' %}
{% load static %}
{% block title %} | Collections {% endblock %}

{% block content %}

<div class="hero__collections">
			    <div class="container">
			        <h1>Artwork collections</h1>
			    </div>
			</div>
			<!--
			<div class="filters bg_white border-b py-20">
			    <div class="container">
			        <div class="row justify-content-between align-items-center">
			            <div class="col-lg-auto">
			                <div class="d-flex align-items-center">
			                    <span class="color_text txt_sm d-none d-sm-block mr-10"> FILTER BY: </span>
			                    <ul class="menu_categories">
			                        <li class="d-flex switch_item">

			                            <input type="checkbox" id="switch1" /><label
			                                for="switch1">Toggle</label>
			                            <span class="ml-10"> Has list price </span>
			                        </li>
			                        <li class="d-flex switch_item">

			                            <input type="checkbox" id="switch2" checked/><label
			                                for="switch2">Toggle</label>
			                            <span class="ml-10"> Has open offer </span>
			                        </li>
			                        <li class="d-flex switch_item">

			                            <input type="checkbox" id="switch3" /><label
			                                for="switch3">Toggle</label>
			                            <span class="ml-10"> Owned by creator </span>
			                        </li>
			                        <li class="d-flex switch_item">

			                            <input type="checkbox" id="switch4" /><label
			                                for="switch4">Toggle</label>
			                            <span class="ml-10"> Has sold </span>
			                        </li>
			                    </ul>                </div>
			            </div>
			            <div class="col-lg-auto">
			                <div class="d-flex space-x-10 align-items-center sm:mt-20">
			                    <span class="color_text txt_sm"> SORT BY: </span>
			                    <div class="dropdown">
			                        <button class="btn btn-dark btn-sm dropdown-toggle"
			                            type="button"
			                            data-toggle="dropdown" aria-haspopup="true"
			                            aria-expanded="false">
			                            Recent Active
			                        </button>
			                        <div class="dropdown-menu">
			                            <a class="dropdown-item" href="#">Action</a>
			                            <a class="dropdown-item" href="#">Another action</a>
			                            <a class="dropdown-item" href="#">Something else
			                                here</a>
			                        </div>
			                    </div>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>
			-->
			<div class="section mt-100">
			    <div class="container">
			       <div class="row justify-content-center mb-30_reset">
                            {% if collection_list%}
                                {% for collection in collection_list %}
                                <div class="col-lg-4 col-md-6 col-sm-8">
                                    <div class="collections space-y-10 mb-30">
                                        <a href="#">
                                            <div class="collections_item">
                                                <div class="images-box space-y-10">
                                                    <div class="top_imgs">
                                                        <img
                                                                src="{{collection.image_1.url}}"
                                                                alt="">
                                                        <img
                                                                src="{{collection.image_2.url}}"
                                                                alt="">
                                                        <img
                                                                src="{{collection.image_3.url}}"
                                                                alt="">
                                                    </div>
                                                    <img src="{{collection.image_main.url}}"
                                                         alt="">
                                                </div>
                                            </div>
                                        </a>
                                        <div class="collections_footer justify-content-between">
                                            <h5 class="collection_title">
                                                <a href="#">{{collection.title}}</a>
                                            </h5>
                                            <a href="#" class="likes space-x-3">
                                                <i class="ri-heart-3-fill"></i>
                                                <span class="txt_md">{{collection.likes}}k</span>
                                            </a>
                                        </div>
                                        <div class="creators space-x-10">
                                            <span class="color_text txt_md"> {{collection.quantity}} · Created by</span>
                                            <div class="avatars space-x-5">
                                                <a href="#">
                                                    <img
                                                            src="{% static 'img/avatars/avatar_2.png' %}"
                                                            alt="Avatar" class="avatar avatar-sm">
                                                </a>
                                            </div>
                                            <a href="#">
                                                <p class="avatars_name txt_sm"> @{{collection.author}}... </p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            {% else %}
                            <h1>No Collections Found....</h1>
                            {% endif %}
                        </div>
				</div>
			</div>


{% endblock %}