{% extends 'base.html' %}
{% load static %}
{% block title %} | Contact {% endblock %}

{% block content %}

<div class="requests">
			    <div class="container">
			        <div class="row gx-5 justify-content-center">

			            <div class="col-lg-8 col-md-10 requests__content">
			                <div class="requests__wrap space-y-20">
			                    <div>
			                        <h1 class="text-left">Submit a request</h1>
			                    </div>

								<form action="" method="POST">
									{% csrf_token %}
			                    <div class="box is__big">
			                        <div class="space-y-20 mb-0">
			                            <div class="space-y-10">
			                                <span class="nameInput">Your email address</span>
			                                <input type="email" name="email" class="form-control"
			                                    placeholder="contact@nft_pro.com">
			                            </div>
										<div class="space-y-10">
			                                <span class="nameInput">Phone</span>
			                                <input type="number" name="phone" class="form-control">
			                            </div>
			                            <div class="space-y-10">
			                                <span class="nameInput">Subject</span>
			                                <input type="text" name="subject" class="form-control">
			                            </div>
										<div class="space-y-10" hidden>
			                                <input type="text" name="user_id" value="1000000000" class="form-control">
			                            </div>

										<!--
										<div class="space-y-10">
			                                <span class="nameInput">Category</span>
			                                <select class="form-select
			                                    custom-select" aria-label="Default
			                                    select example">
			                                    <option>Art</option>
			                                    <option>Music</option>
			                                    <option>Video Game</option>

			                                </select>
			                            </div>
			                            -->

			                            <div class="space-y-10">
			                                <span class="nameInput">Message</span>
											<input type="text" style="min-height: 150px"
												   name="message" class="form-control">

			                                <p>Please enter the details of your request. A
			                                    member of our support staff will respond as
			                                    soon as possible.</p>
			                            </div>

			                            <div class="requests_footer">
			                             <div>
			                                    <input type="submit" value="Submit Request" class="btn btn-grad btn-block">

			                                </div>
			                            </div>
			                        </div>
			                    </div>
								</form>
			                </div>
			            </div>
			            <div class="col-lg-4 contact__img">
			                <div class="img__wrap">
			                    <img src="{% static 'img/bg/requests.png' %}" alt="">
			                </div>
			            </div>
			        </div>
			    </div>

			</div>

{% endblock %}