{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- ====== headers -->
                <div class="hero__5">
                    <div class="container">
                        <div class="row align-items-center justify-content-center gx-4">
                            <div class="col-lg-8 col-md-12">
                                <div class="swiper_games">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="hero__left slide_1">
                                                <div class="hero__wrap space-y-20">
                                                    <h2 class="hero__title">
                                                        Trade NFT and Virtual
                                                        In-game Items
                                                    </h2>
                                                    <p class="hero__text txt">Nft Pro among the
                                                        top six NFT platforms on
                                                        eips.ethereum.org, the DMarket
                                                        marketplace enables millions of gamers
                                                        and Esports fans</p>
                                                    <div>
                                                        <a class="btn btn-grad"
                                                           href="Marketplace.html">
                                                            Create Account
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="hero__left slide_2">
                                                <div class="hero__wrap space-y-20">
                                                    <h2 class="hero__title">
                                                        Discover digital art and collect NFTs
                                                    </h2>
                                                    <p class="hero__text txt">Nft Pro is a shared
                                                        liquidity NFT market smart contract
                                                        which is used by multiple websites to
                                                        provide the users the best possible
                                                        experience.</p>
                                                    <div>
                                                        <a class="btn btn-grad"
                                                           href="Marketplace.html">View
                                                            market</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="hero__left slide_3">
                                                <div class="hero__wrap space-y-20">
                                                    <h2 class="hero__title">
                                                        Pull market data from our digital asset
                                                        API
                                                    </h2>
                                                    <p class="hero__text txt"> Nft Pro is a
                                                        shared
                                                        liquidity NFT market smart contract
                                                        which is used by multiple websites to
                                                        provide the users the best possible
                                                        experience</p>
                                                    <div>
                                                        <a class="btn btn-grad"
                                                           href="Connect-wallet.html">Connect
                                                            wallet</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- If we need pagination -->
                                    <div class="swiper-pagination"></div>
                                    <!-- If we need navigation buttons -->
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6">
                                <div class="box hero__right space-y-20">
                                    <h4>Offers</h4>
                                    <div class="cards space-y-15 position-relative">
                                        <div class="card__item seven mb-0">
                                            <div class="card_body space-x-10">
                                                <div class="d-flex space-x-10">
                                                    <div>
                                                        <a href="#">
                                                            <img class="product__img"
                                                                 src="{% static 'img/bg/home5/1.png' %}"
                                                                 alt="product">
                                                        </a>
                                                    </div>
                                                    <div class="">
			                                                        <span class="product__name txt_sm
			                                                            _bold">Flare Gun</span>
                                                        <span class="offer txt_xs">-20%</span>
                                                    </div>
                                                </div>
                                                <div class="space-x-3">
                                                    <img class="eth__img"
                                                         src="{% static 'img/icons/ETH-2.svg' %}"
                                                         alt="eth">
                                                    <span class="price txt_sm _bold">365
			                                                        USD</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card__item seven mb-0">
                                            <div class="card_body space-x-10">
                                                <div class="d-flex space-x-10">
                                                    <div>
                                                        <a href="#">
                                                            <img class="product__img"
                                                                 src="{% static 'img/bg/home5/2.png' %}"
                                                                 alt="product">
                                                        </a>
                                                    </div>
                                                    <div class="">
			                                                        <span class="product__name txt_sm
			                                                            _bold">Vasco Paint</span>
                                                        <span class="offer txt_xs">-15%</span>
                                                    </div>
                                                </div>
                                                <div class="space-x-3">
                                                    <img class="eth__img"
                                                         src="{% static 'img/icons/ETH-2.svg' %}"
                                                         alt="eth">
                                                    <span class="price txt_sm _bold">78
			                                                        USD</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card__item seven mb-0">
                                            <div class="card_body space-x-10">
                                                <div class="d-flex space-x-10">
                                                    <div>
                                                        <a href="#">
                                                            <img class="product__img"
                                                                 src="{% static 'img/bg/home5/3.png' %}"
                                                                 alt="product">
                                                        </a>
                                                    </div>
                                                    <div class="">
			                                                        <span class="product__name txt_sm
			                                                            _bold">Modern Art</span>
                                                        <span class="offer txt_xs">-50%%</span>
                                                    </div>
                                                </div>
                                                <div class="space-x-3">
                                                    <img class="eth__img"
                                                         src="{% static 'img/icons/ETH-2.svg' %}"
                                                         alt="eth">
                                                    <span class="price txt_sm _bold">546
			                                                        USD</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card__item seven mb-0">
                                            <div class="card_body space-x-10">
                                                <div class="d-flex space-x-10">
                                                    <div>
                                                        <a href="#">
                                                            <img class="product__img"
                                                                 src="{% static 'img/bg/home5/4.png' %}"
                                                                 alt="product">
                                                        </a>
                                                    </div>
                                                    <div class="">
			                                                        <span class="product__name txt_sm
			                                                            _bold">Creative Art</span>
                                                        <span class="offer txt_xs">-10%%</span>
                                                    </div>
                                                </div>
                                                <div class="space-x-3">
                                                    <img class="eth__img"
                                                         src="{% static 'img/icons/ETH-2.svg' %}"
                                                         alt="eth">
                                                    <span class="price txt_sm _bold">365
			                                                        USD</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="overlay"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-100">
                    <div class="container">
                        <div class="section__head">
                            <div class="d-md-flex
							sm:space-y-20
							space-x-20
							justify-content-between
							align-items-center">
                                <h2 class="section__title text-center">Explore</h2>
                                <!--
                                <ul class="menu_categories space-x-20">
                                    <li>
                                        <a href="#" class="color_brand">

                                            <span> All </span>
                                        </a>
                                    </li>
                                    <li><a href="#">
                                        <i class="ri-gamepad-line"></i> <span> Games </span>
                                    </a>

                                    </li>
                                    <li><a href="#">
                                        <i class="ri-brush-line"></i> <span> Art </span>
                                    </a>

                                    </li>
                                    <li><a href="#">
                                        <i class="ri-stock-line"></i> <span> Trading Cards </span>
                                    </a>

                                    </li>
                                    <li><a href="#">
                                        <i class="ri-music-line"></i> <span> Music </span>
                                    </a>

                                    </li>
                                    <li><a href="#">
                                        <i class="ri-global-line"></i> <span> Domain Names </span>
                                    </a>

                                    </li>
                                    <li><a href="#">
                                        <i class="ri-emotion-laugh-line"></i> <span> Memes </span>
                                    </a>

                                    </li>
                                    <li><a href="#">
                                        <i class="ri-layout-4-line"></i> <span> Collectibles </span>
                                    </a>

                                    </li>
                                </ul>
                                -->
                                <div class="dropdown text-center">
                                    <button class="btn btn-white btn-sm dropdown-toggle"
                                            type="button"

                                            data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                        Recent Active
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% if auction_list %}
                                {% for auction in auction_list %}
                                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                                    <div class="card__item four">
                                        <div class="card_body space-y-10">
                                            <!-- =============== -->
                                            <div class="creators space-x-10">
                                                <div class="avatars space-x-3">
                                                    <a href="#">
                                                        <img
                                                                src="{% static 'img/avatars/avatar_3.png' %}"
                                                                alt="Avatar"
                                                                class="avatar avatar-sm"/>
                                                    </a>
                                                    <a href="#">
                                                        <p class="avatars_name txt_xs">@mazanov_sky</p>
                                                    </a>
                                                </div>
                                                <div class="avatars space-x-3">
                                                    <a href="#">
                                                        <img
                                                                src="{% static 'img/avatars/avatar_4.png' %}"
                                                                alt="Avatar"
                                                                class="avatar avatar-sm"/>
                                                    </a>
                                                    <a href="#">
                                                        <p class="avatars_name txt_xs">@mucky_fennouni</p>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="card_head">
                                                <a href="{% url 'auctions:detail' auction.id %}">
                                                    <img
                                                            src="{{ auction.image.url }}"
                                                            alt="item
                                                    img"/>
                                                </a>
                                                <a href="#" class="likes space-x-3">
                                                    <i class="ri-heart-3-fill"></i>
                                                    <span class="txt_sm"></span>
                                                </a>
                                            </div>
                                            <!-- =============== -->

                                            <h6 class="card_title">
                                                <a class="color_black"
                                                   href="{% url 'auctions:detail' auction.id %}">
                                                    {{ auction.title}}
                                                </a>
                                            </h6>
                                            <div class="card_footer d-block space-y-10">
                                                <div class="card_footer justify-content-between">
                                                    <div class="creators">
                                                        <p class="txt_sm">{{ auction.quantity}} in stock</p>
                                                    </div>
                                                    <a href="#" class="">
                                                        <p class="txt_sm">
                                                            Price: <span class="color_green txt_sm">{{auction.min_value}}
                                                            USD</span>
                                                        </p>
                                                    </a>
                                                </div>
                                                <div class="hr"></div>
                                                {% if auction.is_active %}
                                                <div class="d-flex align-items-center space-x-10 justify-content-between">
                                                    {% if auction.remaining_minutes < 2 %}
                                                    {{ auction.remaining_minutes }}mins
                                                    {% else %}
                                                    <div class="d-flex align-items-center space-x-5">
                                                        <span>
                                                            <p class="btn btn-sm btn-danger" style="width: auto">
                                                                {{ auction.remaining_minutes }}mins Rem
                                                            </p>
                                                        </span>
                                                    </div>
                                                    {% endif %}
                                                    {% else %}
                                                    <div class="auction-card-inactive">Expired</div>
                                                    {% endif %}
                                                    <a class="btn btn-sm btn-success"
                                                       href="{% url 'auctions:detail' auction.id %}">Place Bid</a>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                 {% endfor %}
                            {% else %}
                                <center><h3>No NFTs Found!</h3></center>
                        {% endif %}
                        </div>
                        <div class="d-flex justify-content-center">
                            <a href="{% url 'auctions:marketplace' %}" class="btn btn-sm btn-white">
                                <i class="ri-restart-line"></i>
                                View all items
                            </a>
                        </div>
                    </div>
                </div>
                <div class="section mt-10">
                    <div class="container">
                        <div class="section__head">
                            <div class="d-flex justify-content-between align-items-center">
                                <h2 class="section__title"> Collections</h2>
                                <a href="Collections.html" class="btn btn-dark btn-sm">
                                    View
                                    All</a>
                            </div>
                        </div>

                        <div class="row justify-content-center mb-30_reset">
                            {% if collection_list%}
                                {% for collection in collection_list %}
                                <div class="col-lg-4 col-md-6 col-sm-8">
                                    <div class="collections space-y-10 mb-30">
                                        <a href="#">
                                            <div class="collections_item">
                                                <div class="images-box space-y-10">
                                                    <div class="top_imgs">
                                                        <img
                                                                src="{{collection.image_1.url}}"
                                                                alt="">
                                                        <img
                                                                src="{{collection.image_2.url}}"
                                                                alt="">
                                                        <img
                                                                src="{{collection.image_3.url}}"
                                                                alt="">
                                                    </div>
                                                    <img src="{{collection.image_main.url}}"
                                                         alt="">
                                                </div>
                                            </div>
                                        </a>
                                        <div class="collections_footer justify-content-between">
                                            <h5 class="collection_title">
                                                <a href="#">{{collection.title}}</a>
                                            </h5>
                                            <a href="#" class="likes space-x-3">
                                                <i class="ri-heart-3-fill"></i>
                                                <span class="txt_md">{{collection.likes}}k</span>
                                            </a>
                                        </div>
                                        <div class="creators space-x-10">
                                            <span class="color_text txt_md"> {{collection.quantity}} · Created by</span>
                                            <div class="avatars space-x-5">
                                                <a href="#">
                                                    <img
                                                            src="{% static 'img/avatars/avatar_2.png' %}"
                                                            alt="Avatar" class="avatar avatar-sm">
                                                </a>
                                            </div>
                                            <a href="#">
                                                <p class="avatars_name txt_sm"> @{{collection.author}}... </p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            {% else %}
                            <h1>No Collections Found....</h1>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="call2action">
                    <div class="container">
                        <div class="row justify-content-between align-items-center
						sm:space-y-20">
                            <div class="col-md-6">
                                <div class="space-y-20">
                                    <h1 class="text-white">Start your own
                                        collection today</h1>
                                    <p class="color_text section__text">Nft Pro is a shared
                                        liquidity NFT
                                        market smart contract
                                        which
                                        is used by multiple websites to provide the users the
                                        best
                                        possible experience.</p>
                                    <a href="{% url 'login' %}" class="btn btn-primary">Start Collecting</a>
                                </div>
                            </div>
                            <div class="col-md-auto">
                                <img class="img-fluid img__logo"
                                     src="{% static 'img/logos/Logo_illustrstion.png' %}"
                                     alt="...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'partials/_copyright.html' %}
        </div>
    </div>
</div>

{% endblock %}

