{% extends 'base.html' %}
{% load static %}
{% block title %} | Home {% endblock %}

{% block content %}

<center>
    <br>
    <br>
    <div class="card" style="width: 50%;">
        <div class="card-body">
            <h5 class="card-title">

            </h5>
            <p class="color_green">
                <b>
                    Your Withrawal Request has been received and its Being Processed<br>
                    You should receive your money shortly.
                </b>
            </p>
        </div>
    </div>
</center>


{% endblock %}